* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #001a66;
}

.logo img {
  width: 170px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #66a3ff;
}

/* HERO */

.hero {
  height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("images/team.png");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero-text {
  max-width: 650px;
}

.hero-text h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero button {
  padding: 15px 40px;
  border: none;
  background: #0066ff;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #0052cc;
  transform: scale(1.05);
}

/* SERVICES */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;

  padding: 80px 8%;
}

.service-card {
  background: #111;
  padding: 40px;
  border-radius: 15px;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  background: #1a1a1a;
}

.service-card h2 {
  margin-bottom: 15px;
}

/* PRODUCTS */

.products {
  padding: 80px 8%;
}

.products h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.product-card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-card h3 {
  padding: 20px 20px 10px;
}

.product-card p {
  padding: 0 20px 20px;
  color: #66a3ff;
  font-weight: bold;
}

/* FOOTER */

footer {
  background: #001a66;
  text-align: center;
  padding: 40px;
  margin-top: 50px;
}

footer h2 {
  margin-bottom: 10px;
}
